.container {
    background-color: var(--white-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: .1rem;
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.title {
    color: var(--gray-color);
    font-family: var(--font-family-semi-bold);
    font-size: var(--font-size-3);
}

.value {
    color: var(--primary-color);
    font-family: var(--font-family-bold);
    font-size: var(--font-size-6);
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: .5rem;
    border-radius: .25rem;
    font-size: var(--font-size-3);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}